In this project we will extract live stock market data from yahoo finanace to find similarity amongest vaious companies using their stock market prices and then cluster them into different clusters using k-means

for the sake of extracting data from yahoo finance site we are going to use Pandas_datareader 
you find more informations here : https://pandas-datareader.readthedocs.io/en/latest/

In [4]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import datetime
import numpy as np
import warnings ## to delete long warnings 
warnings.simplefilter("ignore")

In [7]:
## create the dictionary which will be used to extract the data for
companies_dict = {
    'Amazon' : 'AMZN',
    'Apple':'AAPL',
    'Walgreen':'WBA',
    'McDonalds':'MCD',
    'MasterCard':'MCD'
                   }

In [14]:
data_source = 'yahoo'
start_date = '2010-10-10'
end_date = '2021-10-10'
df = data.DataReader(list(companies_dict.values()),data_source,start_date,end_date)

In [15]:
df.shape

(2769, 24)

In [16]:
df

Attributes    Adj Close                                           Close  \
Symbols            AMZN        AAPL        WBA         MCD         AMZN
Date
2010-10-11   153.029999    9.057172  25.524120   55.134254   153.029999
2010-10-12   156.479996    9.154690  25.743439   55.126987   156.479996
2010-10-13   155.169998    9.203756  26.318203   55.250969   155.169998
2010-10-14   155.529999    9.270297  26.083761   56.191887   155.529999
2010-10-15   164.639999    9.651463  26.151827   56.512821   164.639999
...                 ...         ...        ...         ...          ...
2021-10-04  3189.780029  139.139999  46.689999  243.080002  3189.780029
2021-10-05  3221.000000  141.110001  47.090000  245.220001  3221.000000
2021-10-06  3262.010010  142.000000  46.910000  247.100006  3262.010010
2021-10-07  3302.429932  143.289993  47.849998  248.320007  3302.429932
2021-10-08  3288.620117  142.899994  47.380001  247.699997  3288.620117

Attributes                                            High              ...  \
Symbols           AAPL        WBA         MCD         AMZN        AAPL  ...
Date                                                                    ...
2010-10-11   10.548571  33.750000   75.589996   156.630005   10.615714  ...
2010-10-12   10.662143  34.040001   75.580002   156.949997   10.696429  ...
2010-10-13   10.719286  34.799999   75.750000   156.789993   10.784286  ...
2010-10-14   10.796786  34.490002   77.040001   156.949997   10.802500  ...
2010-10-15   11.240714  34.580002   77.480003   164.880005   11.250000  ...
...                ...        ...         ...          ...         ...  ...
2021-10-04  139.139999  46.689999  243.080002  3279.989990  142.210007  ...
2021-10-05  141.110001  47.090000  245.220001  3260.729980  142.240005  ...
2021-10-06  142.000000  46.910000  247.100006  3264.340088  142.149994  ...
2021-10-07  143.289993  47.849998  248.320007  3325.750000  144.220001  ...
2021-10-08  142.899994  47.380001  247.699997  3321.429932  144.169998  ...

Attributes        Low                     Open                         \
Symbols           WBA         MCD         AMZN        AAPL        WBA
Date
2010-10-11  33.560001   75.269997   154.889999   10.526429  34.009998
2010-10-12  33.500000   74.879997   152.509995   10.550357  33.619999
2010-10-13  34.169998   75.410004   156.690002   10.721429  34.310001
2010-10-14  34.070000   75.669998   155.160004   10.774643  34.830002
2010-10-15  34.310001   76.930000   158.419998   10.980000  34.700001
...               ...         ...          ...         ...        ...
2021-10-04  46.520000  241.860001  3279.389893  141.759995  46.759998
2021-10-05  46.270000  243.009995  3204.500000  139.490005  46.740002
2021-10-06  46.220001  243.020004  3213.530029  139.470001  46.860001
2021-10-07  47.240002  247.679993  3291.540039  143.059998  47.360001
2021-10-08  47.235001  247.130005  3317.000000  144.029999  47.860001

Attributes                  Volume
Symbols            MCD        AMZN         AAPL         WBA        MCD
Date
2010-10-11   76.010002   4486400.0  427753200.0   4280500.0  3653400.0
2010-10-12   75.709999   5280800.0  558544000.0   6875500.0  4703500.0
2010-10-13   75.889999   5632800.0  630092400.0  11031700.0  4370700.0
2010-10-14   75.769997   4024100.0  435296400.0   6127300.0  6616400.0
2010-10-15   77.470001  10135500.0  922194000.0   6055600.0  6259200.0
...                ...         ...          ...         ...        ...
2021-10-04  242.059998   4523100.0   98322000.0   5628800.0  2236500.0
2021-10-05  243.970001   3269200.0   80861100.0   4149600.0  2463100.0
2021-10-06  244.559998   2533000.0   83221100.0   4414400.0  2107900.0
2021-10-07  248.000000   2409100.0   61732700.0   4311400.0  2423900.0
2021-10-08  249.250000   1980060.0   55050009.0   5637608.0  1600253.0

[2769 rows x 24 columns]

In [18]:
## check the empty content
df.isna().sum()

Attributes  Symbols
Adj Close   AMZN       0
            AAPL       0
            WBA        0
            MCD        0
Close       AMZN       0
            AAPL       0
            WBA        0
            MCD        0
High        AMZN       0
            AAPL       0
            WBA        0
            MCD        0
Low         AMZN       0
            AAPL       0
            WBA        0
            MCD        0
Open        AMZN       0
            AAPL       0
            WBA        0
            MCD        0
Volume      AMZN       0
            AAPL       0
            WBA        0
            MCD        0
dtype: int64

In [19]:
## starting the split of the stock open and the stock close
stock_open = np.array(df['Open']).T ## stock open is numpy array of transpose of df['open']
stock_close = np.array(df['Close']).T ## stock close is numpy array of transpose of df['close']

In [20]:
stock_open

array([[ 154.88999939,  152.50999451,  156.69000244, ..., 3213.5300293 ,
        3291.54003906, 3317.        ],
       [  10.52642918,   10.55035686,   10.72142887, ...,  139.47000122,
         143.05999756,  144.02999878],
       [  34.00999832,   33.61999893,   34.31000137, ...,   46.86000061,
          47.36000061,   47.86000061],
       [  76.01000214,   75.70999908,   75.88999939, ...,  244.55999756,
         248.        ,  249.25      ]])

In [21]:
stock_close

array([[ 153.02999878,  156.47999573,  155.16999817, ..., 3262.01000977,
        3302.42993164, 3288.62011719],
       [  10.54857063,   10.66214275,   10.71928596, ...,  142.        ,
         143.28999329,  142.8999939 ],
       [  33.75      ,   34.04000092,   34.79999924, ...,   46.90999985,
          47.84999847,   47.38000107],
       [  75.58999634,   75.58000183,   75.75      , ...,  247.1000061 ,
         248.32000732,  247.69999695]])